# Setup for experiments

In [ ]:
# Imports
import io
import boto3
import pandas as pd
import pyarrow.parquet as pq
import pyarrow as pa
from cryptography.fernet import Fernet
from io import BytesIO
from botocore.exceptions import NoCredentialsError, ClientError
from dotenv import load_dotenv
import os

In [26]:
# Load environment variables
load_dotenv()

True

In [27]:
BUCKET_NAME = "rher-s3-test-bucket"
RAW_DATA_FILE_NAME = "employees.parquet"
SALARY_ENCRYPTED_FILE_NAME = "sample_sensitive_data_encrypted.parquet"
COLUMN_TO_ENCRYPT1 = "Salary" 
COLUMN_TO_ENCRYPT2 = "Password"
FERNET_KEY = os.getenv("FERNET_KEY")
ADMIN_KEY = os.getenv("ADMIN_KEY")

In [28]:
import base64

KMS_KEY_ID = "fake-kms-key-id-001"

def kms_encrypt_data_key(plaintext_key) -> bytes:
    """
    Fake KMS Encrypt – accept str or bytes, return bytes.
    """
    if isinstance(plaintext_key, str):
        plaintext_key = plaintext_key.encode("utf-8")
    return base64.b64encode(plaintext_key)

def kms_decrypt_data_key(ciphertext_key: bytes) -> bytes:
    """
    Fake KMS Decrypt – always returns bytes.
    """
    return base64.b64decode(ciphertext_key)

## Utility Functions

In [ ]:
def list_s3_objects(bucket_name):
    try:
        s3 = boto3.client("s3")
        response = s3.list_objects_v2(Bucket=bucket_name)
        if 'Contents' not in response:
            print(f"No objects found in bucket: {bucket_name}")
            return []
        print(f"Objects in bucket '{bucket_name}':")
        for obj in response['Contents']:
            print(f" - {obj['Key']} (LastModified: {obj['LastModified']}, Size: {obj['Size']} bytes)")
        return [obj['Key'] for obj in response['Contents']]

    except NoCredentialsError:
        print("AWS credentials not found. Please configure them first.")
        return []
    except ClientError as e:
        print(f" AWS Client Error: {e}")
        return []
    except Exception as e:
        print(f" Unexpected error: {e}")
        return []

def retrieve_data(bucket_name, file_name):
    """Read a Parquet file from S3"""
    s3 = boto3.client("s3")
    response = s3.get_object(Bucket=bucket_name, Key=file_name)
    data = BytesIO(response['Body'].read())
    df = pd.read_parquet(data, engine="pyarrow")
    print(f"\n successfully loaded '{file_name}' into DataFrame.")
    return df


def encrypt_column_in_parquet(df, column_to_encrypt, fernet_key):
    """Encrypt a specific column in a Parquet file and upload the result to S3."""
    fernet = Fernet(fernet_key)
    print(f"Encrypting column: {column_to_encrypt}")
    if column_to_encrypt in df.columns:
        df[column_to_encrypt] = df[column_to_encrypt].astype(str).apply(
            lambda x: fernet.encrypt(x.encode()).decode()
        )
    else:
        raise ValueError(f"Column '{column_to_encrypt}' not found in Parquet file")
    return df

    
# def upload_encrypted_parquet_to_s3(bucket_name, output_file_location, df):
#     """Upload the encrypted DataFrame as a Parquet file to S3."""
#     s3 = boto3.client("s3")
#     buffer = io.BytesIO()
#     table = pa.Table.from_pandas(df)
#     pq.write_table(table, buffer)
#     buffer.seek(0)
#     s3.put_object(Bucket=bucket_name, Key=output_file_location, Body=buffer.getvalue())
#     print(f"Encrypted Parquet file uploaded to s3://{bucket_name}/{output_file_location}")
    
import pyarrow as pa
import pyarrow.parquet as pq
import io
import boto3

def upload_encrypted_parquet_to_s3(bucket_name, output_file_location, df,
                                   salary_key: bytes, admin_key: bytes):
    """Upload encrypted DataFrame as Parquet to S3 with KMS-style metadata."""

    # 1) Wrap both DEKs with "KMS"
    encrypted_salary_key = kms_encrypt_data_key(salary_key)
    encrypted_admin_key = kms_encrypt_data_key(admin_key)

    table = pa.Table.from_pandas(df)
    existing_md = table.schema.metadata or {}

    kms_metadata = {
        b"kms_key_id": KMS_KEY_ID.encode("utf-8"),
        b"encrypted_data_key_salary": encrypted_salary_key,
        b"encrypted_data_key_admin": encrypted_admin_key,
        b"encryption_algorithm_salary": b"FERNET",
        b"encryption_algorithm_admin": b"FERNET",
        b"encryption_schema_version": b"1",
    }

    new_md = {**existing_md, **kms_metadata}
    table = table.replace_schema_metadata(new_md)

    # 3) Write to S3
    s3 = boto3.client("s3")
    buffer = io.BytesIO()
    pq.write_table(table, buffer)
    buffer.seek(0)

    s3.put_object(Bucket=bucket_name, Key=output_file_location, Body=buffer.getvalue())
    print(f"Encrypted Parquet file uploaded to s3://{bucket_name}/{output_file_location}")

## Encrypt salary column in file

In [ ]:

df = retrieve_data(BUCKET_NAME, RAW_DATA_FILE_NAME)
df = encrypt_column_in_parquet(df, COLUMN_TO_ENCRYPT1, FERNET_KEY)
df = encrypt_column_in_parquet(df, COLUMN_TO_ENCRYPT2, ADMIN_KEY)
upload_encrypted_parquet_to_s3(BUCKET_NAME, SALARY_ENCRYPTED_FILE_NAME, df, salary_key=FERNET_KEY, admin_key=ADMIN_KEY)

 successfully loaded 'employees.parquet' into DataFrame.
Encrypting column: Salary
Encrypting column: Password
Encrypted Parquet file uploaded to s3://rher-s3-test-bucket/sample_sensitive_data_encrypted.parquet

# Experiment 1 – Show Encrypted Data Cannot Be Read

**Goal:** Demonstrate that encrypted data stored in an AWS S3 bucket cannot be read
without the appropriate decryption key / permissions.

We will:

1. List objects in the test S3 bucket.
2. Attempt to read a Parquet file with and *encrypted* column
3. Attempt to read the same encrypted data via Snowflake external stage.

## List all .parquet fiels in bucket

In [ ]:
all_keys = list_s3_objects(BUCKET_NAME)

all_parquet_files = [k for k in all_keys if k.endswith(".parquet")]
print("\nParquet objects found:")
for k in all_parquet_files:
    print(" -", k)

encrypted_candidates = [k for k in all_parquet_files if "encrypted" in k.lower()]

print("\nEncrypted candidates:")
for k in encrypted_candidates:
    print(" -", k)

Objects in bucket 'rher-s3-test-bucket':
 - employees.parquet (LastModified: 2025-11-20 14:17:33+00:00, Size: 4796 bytes)
 - sample_sensitive_data.parquet (LastModified: 2025-11-03 11:16:22+00:00, Size: 2152 bytes)
 - sample_sensitive_data_encrypted.parquet (LastModified: 2025-12-02 09:25:34+00:00, Size: 8806 bytes)

Parquet objects found:
 - employees.parquet
 - sample_sensitive_data.parquet
 - sample_sensitive_data_encrypted.parquet

Encrypted candidates:
 - sample_sensitive_data_encrypted.parquet

In [32]:
raw_data_df = retrieve_data(BUCKET_NAME, all_parquet_files[0])
encrypted_data_df = retrieve_data(BUCKET_NAME, encrypted_candidates[0])
print(f"DataFrame shape: {raw_data_df.shape}")
print(f"DataFrame shape: {encrypted_data_df.shape}")

 successfully loaded 'employees.parquet' into DataFrame.

 successfully loaded 'sample_sensitive_data_encrypted.parquet' into DataFrame.
DataFrame shape: (10, 6)
DataFrame shape: (10, 6)

In [33]:
raw_data_df.head()

   ID     Name                Email   Department  Salary        Password
0   1    Alice    alice@example.com           HR   55000  2o1e*OBZWW^7Kd
1   2      Bob      bob@example.com  Engineering   72000  GSxZX$zD5Qlf8^
2   3  Charlie  charlie@example.com    Marketing   63000  02QChWYlypvP#i
3   4    David    david@example.com      Finance   80000  m5AKDGR88&T*A8
4   5      Eva      eva@example.com  Engineering   75000  Yt%hUAUT2RX5$A

In [34]:
encrypted_data_df.head()

,ID,Name,Email,Department,Salary,Password
0,1,Alice,alice@example.com,HR,gAAAAABpLrCMmHguX0r0xqGo92_ACuSCBKuA5vtWeQzLWH...,gAAAAABpLrCMtGSy6lBrX4Ge4B_tADTvGpQkWCZ9MzGOi2...
1,2,Bob,bob@example.com,Engineering,gAAAAABpLrCMHnO3jeaL2o1_rUru3c-R75ZcIIwMbcnFO9...,gAAAAABpLrCMqaffpffNlnWpyXigdcRQs35FD0evnJoPoV...
2,3,Charlie,charlie@example.com,Marketing,gAAAAABpLrCMRUQBH41jbiG0bFtmzXordV8vZvPXuHjkhs...,gAAAAABpLrCMIeIebdmsd7i0hXysvI9OfMakQ_aSQys72G...
3,4,David,david@example.com,Finance,gAAAAABpLrCM4S53NvA6aQpgA8Z1d17dAIEpQvp_nNO1in...,gAAAAABpLrCMtj98pR40ir08dPPe10vTiJcJMu8eVpDDLy...
4,5,Eva,eva@example.com,Engineering,gAAAAABpLrCMRSI_KPTpK02SBff78xRmhqPPoE-_0r0jOR...,gAAAAABpLrCMau4X6IX1fNkwVhznV7ncx_dOuB7sQqq2Px...

# Experiment 2 – Simulate Key Management Service + RBAC

In [ ]:
def decrypt_salary(encrypted_column):
    """Real decrypt (KMS primitive). Only this function knows the key."""
    decrypted_bytes = Fernet(FERNET_KEY).decrypt(encrypted_column.encode())
    return int(decrypted_bytes.decode())

def get_key(role):
    if role == HR:
        return {
            "fernet_key": FERNET_KEY
        } 
    elif role == ADMIN:
        return {
            "fernet_key": FERNET_KEY,
            "admin_key": ADMIN_KEY
        }
    elif role == ENGINEERING:
        return None  
    else:
        return None
    
def retrieve_data(bucket_name, file_name):
    """Read a Parquet file from S3"""
    s3 = boto3.client("s3")
    response = s3.get_object(Bucket=bucket_name, Key=file_name)
    data = BytesIO(response['Body'].read())
    df = pd.read_parquet(data, engine="pyarrow")
    print(f"\n successfully loaded '{file_name}' into DataFrame.")
    return df

def decrypt_salary_with_key(key, file, encrypted_column):
    if key is None:
        print("No key provided, cannot decrypt.")
        return file
    fernet = Fernet(key)
    df = file.copy()
    df[encrypted_column] = df[encrypted_column].apply(
        lambda s: int(fernet.decrypt(s.encode()).decode())
    )
    return df

def decrypt_password_with_key(key, file, encrypted_column):
    if key is None:
        print("No key provided, cannot decrypt.")
        return file
    fernet = Fernet(key)
    df = file.copy()
    df[encrypted_column] = df[encrypted_column].apply(
        lambda s: str(fernet.decrypt(s.encode()).decode())
    )
    return df


def simulate_kms(df, encrypted_column, role):
    if role == HR:
        df = df.copy()
        df[encrypted_column] = df[encrypted_column].apply(
            lambda s: decrypt_salary(s)
        )
        return df
    else:
        return df

## Test with Read-only Role

In [ ]:
key = get_key(HR)
print("Retrieved key for HR:", key)
file = retrieve_data(BUCKET_NAME, SALARY_ENCRYPTED_FILE_NAME)
decrypt_salary_with_key(key["fernet_key"], file, "Salary")

Retrieved key for HR: {'fernet_key': 'U1eIY6p4bKjOaMycX1VyMshD0tRmfWqC7xJ0MMT8oO0='}

 successfully loaded 'sample_sensitive_data_encrypted.parquet' into DataFrame.

,ID,Name,Email,Department,Salary,Password
0,1,Alice,alice@example.com,HR,55000,gAAAAABpLrCMtGSy6lBrX4Ge4B_tADTvGpQkWCZ9MzGOi2...
1,2,Bob,bob@example.com,Engineering,72000,gAAAAABpLrCMqaffpffNlnWpyXigdcRQs35FD0evnJoPoV...
2,3,Charlie,charlie@example.com,Marketing,63000,gAAAAABpLrCMIeIebdmsd7i0hXysvI9OfMakQ_aSQys72G...
3,4,David,david@example.com,Finance,80000,gAAAAABpLrCMtj98pR40ir08dPPe10vTiJcJMu8eVpDDLy...
4,5,Eva,eva@example.com,Engineering,75000,gAAAAABpLrCMau4X6IX1fNkwVhznV7ncx_dOuB7sQqq2Px...
5,6,Frank,frank@example.com,HR,50679,gAAAAABpLrCM8nF4MU55PAZKcbCsm0iq_BmbgY44a3RTsw...
6,7,Grace,grace@example.com,Sales,98115,gAAAAABpLrCMt2n2Qz8PUvMNzDze3xA8catvbqhXacJ4lw...
7,8,Hannah,hannah@example.com,Finance,87984,gAAAAABpLrCM_JVNJnll5BE_4cEEc5KojU2FBrdM0usQe8...
8,9,Ian,ian@example.com,Marketing,118777,gAAAAABpLrCMT0zpUl-kD3td_FCJOqDyNQHajggsZmN06v...
9,10,Julia,julia@example.com,Sales,69355,gAAAAABpLrCMgKWCdV9nVhIQ1PkL4mDMt3Ih6f7zpcqmAD...

## Test with Admin Role

In [37]:
key = get_key(ADMIN)
print("Retrieved key for HR:", key)
file = retrieve_data(BUCKET_NAME, SALARY_ENCRYPTED_FILE_NAME)
df = decrypt_salary_with_key(key["fernet_key"], file, "Salary")
decrypt_password_with_key(key["admin_key"], df, "Password")

Retrieved key for HR: {'fernet_key': 'U1eIY6p4bKjOaMycX1VyMshD0tRmfWqC7xJ0MMT8oO0=', 'admin_key': 'RFlaW9OgOasL0R_aXLSvAB6fuWk2ko6Cgl55UDM1UxQ='}

 successfully loaded 'sample_sensitive_data_encrypted.parquet' into DataFrame.

   ID     Name                Email   Department  Salary        Password
0   1    Alice    alice@example.com           HR   55000  2o1e*OBZWW^7Kd
1   2      Bob      bob@example.com  Engineering   72000  GSxZX$zD5Qlf8^
2   3  Charlie  charlie@example.com    Marketing   63000  02QChWYlypvP#i
3   4    David    david@example.com      Finance   80000  m5AKDGR88&T*A8
4   5      Eva      eva@example.com  Engineering   75000  Yt%hUAUT2RX5$A
5   6    Frank    frank@example.com           HR   50679  m@v!lQRysTxUex
6   7    Grace    grace@example.com        Sales   98115  GInHrHc@DFbAfu
7   8   Hannah   hannah@example.com      Finance   87984  pwLBZ6k6n7Pqpd
8   9      Ian      ian@example.com    Marketing  118777  jJZ0Lhlx#q!dK4
9  10    Julia    julia@example.com        Sales   69355  Xn#hz%AMIiwf2b

# Experiment 3 – Simulate Data Acces Layer (DAL)

Experiment simulating Data Acess Layer by:

- Creating a dummy class accessed by: `dal://...`
- The class should:
  - Uniformly enforces RBAC + Key Management
  - Decrypts Parquet columns based on role
  - Returns the parquet files with columns either decrypted/encrypted

We simulate what a DAL *would* look like in Python,
and then show why that doesn't qualify as a real, shared DAL.

        #Token = get_token
        #client.get_data(PATH, TOKEN)
        #role = data_access_layer.authenticate_user(TOKEN)
        #key = kms.getKey(role)
        #data = retrieve_data(PATH)
        #decryptdata = decryptParquet(key, data)
        #dal.return to client

In [38]:
class DataAccessLayerClient:
    """
    Hypothetical DAL client

    In the ideal world, both Snowflake and Python would effectively
    call this logic whenever they read data from S3.
    """
    def __init__(self, base_url):
        self.base_url = base_url
        
    def authenticate_user(self, token):
        print("Authenticating user with token:", token)
        """
        Simulates user authentication.
        In a real DAL, this would verify the token and return user info.
        """
        if not token:
            raise Exception("Authentication failed: No token provided")
        elif token == "Engineer_token":
            return {"user_id": "engineer_user", "roles": ["RBAC_IN_DATA_LAKES_ROLE_READ_ONLY"]}
        elif token == "HR_token":
            return {"user_id": "hr_user", "roles": ["RBAC_IN_DATA_LAKES_ROLE_SECURE_ANALYST"]}
        elif token == "Admin_token":
            return {"user_id": "admin_user", "roles": ["RBAC_IN_DATA_LAKES_ROLE_ADMIN"]}
        else:
            raise Exception("Authentication failed: Invalid token")

    
    def get_data(self, bucket_path, file_name, Token):
        """
        Simulates reading a Parquet file with DAL logic. That is, it simulates the above behaviour:
        - authenticate the user
        - check RBAC/KMS policy
        - fetch Parquet from underlying bucket and file name
        - decrypt protected columns if allowed
        - return a DataFrame or bytes of a Parquet file
        """
        ### AUTHENTICATION GOES HERE - NOT IMPLEMENTED ###
        #get_data(PATH, TOKEN)
        role = self.authenticate_user(Token)["roles"][0]
        
        #getKey returns key or None
        key = get_key(role)
        
        #data = retrive data file
        df = retrieve_data(bucket_path, file_name)
        #data = decryptParquet(key, data)
        if key is not None:
            df = decrypt_salary_with_key(key["fernet_key"], df, "Salary")
        if role == ADMIN:
            df = decrypt_password_with_key(key["admin_key"], df, "Password")
    
        return df

In [39]:
dal = DataAccessLayerClient(base_url="dal://rbac-sensitive/")

In [40]:
print("Raw dataframe read directly from S3:")
display(encrypted_data_df.head())

Raw dataframe read directly from S3:

,ID,Name,Email,Department,Salary,Password
0,1,Alice,alice@example.com,HR,gAAAAABpLrCMmHguX0r0xqGo92_ACuSCBKuA5vtWeQzLWH...,gAAAAABpLrCMtGSy6lBrX4Ge4B_tADTvGpQkWCZ9MzGOi2...
1,2,Bob,bob@example.com,Engineering,gAAAAABpLrCMHnO3jeaL2o1_rUru3c-R75ZcIIwMbcnFO9...,gAAAAABpLrCMqaffpffNlnWpyXigdcRQs35FD0evnJoPoV...
2,3,Charlie,charlie@example.com,Marketing,gAAAAABpLrCMRUQBH41jbiG0bFtmzXordV8vZvPXuHjkhs...,gAAAAABpLrCMIeIebdmsd7i0hXysvI9OfMakQ_aSQys72G...
3,4,David,david@example.com,Finance,gAAAAABpLrCM4S53NvA6aQpgA8Z1d17dAIEpQvp_nNO1in...,gAAAAABpLrCMtj98pR40ir08dPPe10vTiJcJMu8eVpDDLy...
4,5,Eva,eva@example.com,Engineering,gAAAAABpLrCMRSI_KPTpK02SBff78xRmhqPPoE-_0r0jOR...,gAAAAABpLrCMau4X6IX1fNkwVhznV7ncx_dOuB7sQqq2Px...

In [41]:
Token = "Engineer_token"
data = dal.get_data(bucket_path = BUCKET_NAME, file_name = SALARY_ENCRYPTED_FILE_NAME, Token=Token)
display(data.head())

Authenticating user with token: Engineer_token

 successfully loaded 'sample_sensitive_data_encrypted.parquet' into DataFrame.

,ID,Name,Email,Department,Salary,Password
0,1,Alice,alice@example.com,HR,gAAAAABpLrCMmHguX0r0xqGo92_ACuSCBKuA5vtWeQzLWH...,gAAAAABpLrCMtGSy6lBrX4Ge4B_tADTvGpQkWCZ9MzGOi2...
1,2,Bob,bob@example.com,Engineering,gAAAAABpLrCMHnO3jeaL2o1_rUru3c-R75ZcIIwMbcnFO9...,gAAAAABpLrCMqaffpffNlnWpyXigdcRQs35FD0evnJoPoV...
2,3,Charlie,charlie@example.com,Marketing,gAAAAABpLrCMRUQBH41jbiG0bFtmzXordV8vZvPXuHjkhs...,gAAAAABpLrCMIeIebdmsd7i0hXysvI9OfMakQ_aSQys72G...
3,4,David,david@example.com,Finance,gAAAAABpLrCM4S53NvA6aQpgA8Z1d17dAIEpQvp_nNO1in...,gAAAAABpLrCMtj98pR40ir08dPPe10vTiJcJMu8eVpDDLy...
4,5,Eva,eva@example.com,Engineering,gAAAAABpLrCMRSI_KPTpK02SBff78xRmhqPPoE-_0r0jOR...,gAAAAABpLrCMau4X6IX1fNkwVhznV7ncx_dOuB7sQqq2Px...

In [42]:
Token = "HR_token"
data = dal.get_data(bucket_path = BUCKET_NAME, file_name = SALARY_ENCRYPTED_FILE_NAME, Token=Token)
display(data.head())

Authenticating user with token: HR_token

 successfully loaded 'sample_sensitive_data_encrypted.parquet' into DataFrame.

,ID,Name,Email,Department,Salary,Password
0,1,Alice,alice@example.com,HR,55000,gAAAAABpLrCMtGSy6lBrX4Ge4B_tADTvGpQkWCZ9MzGOi2...
1,2,Bob,bob@example.com,Engineering,72000,gAAAAABpLrCMqaffpffNlnWpyXigdcRQs35FD0evnJoPoV...
2,3,Charlie,charlie@example.com,Marketing,63000,gAAAAABpLrCMIeIebdmsd7i0hXysvI9OfMakQ_aSQys72G...
3,4,David,david@example.com,Finance,80000,gAAAAABpLrCMtj98pR40ir08dPPe10vTiJcJMu8eVpDDLy...
4,5,Eva,eva@example.com,Engineering,75000,gAAAAABpLrCMau4X6IX1fNkwVhznV7ncx_dOuB7sQqq2Px...

In [43]:
Token = "Admin_token"
data = dal.get_data(bucket_path = BUCKET_NAME, file_name = SALARY_ENCRYPTED_FILE_NAME, Token=Token)
display(data.head())

Authenticating user with token: Admin_token

 successfully loaded 'sample_sensitive_data_encrypted.parquet' into DataFrame.

   ID     Name                Email   Department  Salary        Password
0   1    Alice    alice@example.com           HR   55000  2o1e*OBZWW^7Kd
1   2      Bob      bob@example.com  Engineering   72000  GSxZX$zD5Qlf8^
2   3  Charlie  charlie@example.com    Marketing   63000  02QChWYlypvP#i
3   4    David    david@example.com      Finance   80000  m5AKDGR88&T*A8
4   5      Eva      eva@example.com  Engineering   75000  Yt%hUAUT2RX5$A