# Experiment 1 â€“ Show Encrypted Data Cannot Be Read

**Goal:** Demonstrate that data stored in an AWS S3 bucket can be retrieved given credentials to the bucket

The experiment:

1. Lists objects in the test S3 bucket.
2. Retrieves the files and shows the data stored in it (which contains encrypted information)

In [1]:
from dotenv import load_dotenv
import boto3
import os
from utility_functions import retrieve_data, list_s3_bucket_objects
from constants import REGION, EMPLOYEE_DATA_RAW_KEY, EMPLOYEE_DATA_ENCRYPTED_KEY

In [2]:
# Load environment variables
load_dotenv()

True

In [3]:
s3_client = boto3.client(
        "s3",
        aws_access_key_id=os.getenv("AWS_ROOT_ACCESS_KEY_ID"),
        aws_secret_access_key=os.getenv("AWS_ROOT_SECRET_ACCESS_KEY"),
        region_name=REGION
)
        
list_s3_bucket_objects(s3_client)

Objects in bucket 's3-rbac-in-data-lakes-experiments':
 - employee_data_encrypted.parquet
 - employee_data_raw.parquet

In [4]:
retrieve_data(s3_client, EMPLOYEE_DATA_RAW_KEY)

 successfully loaded 'employee_data_raw.parquet' into DataFrame.

   ID     Name                Email   Department  Salary         Password
0   1    Alice    alice@example.com           HR   55000   DummyPassword1
1   2      Bob      bob@example.com  Engineering   72000   DummyPassword2
2   3  Charlie  charlie@example.com    Marketing   63000   DummyPassword3
3   4    David    david@example.com      Finance   80000   DummyPassword4
4   5      Eva      eva@example.com  Engineering   75000   DummyPassword5
5   6    Frank    frank@example.com           HR   70000   DummyPassword6
6   7    Grace    grace@example.com        Sales   85000   DummyPassword7
7   8   Hannah   hannah@example.com      Finance   65000   DummyPassword8
8   9      Ian      ian@example.com    Marketing   54800   DummyPassword9
9  10    Julia    julia@example.com        Sales   74500  DummyPassword10

In [5]:
retrieve_data(s3_client, EMPLOYEE_DATA_ENCRYPTED_KEY)

 successfully loaded 'employee_data_encrypted.parquet' into DataFrame.

,ID,Name,Email,Department,Salary,Password
0,1,Alice,alice@example.com,HR,AQICAHh3ZcDR7KW29w3WBXby4fktfVh0IQ0If41GjOu1gT...,AQICAHhEEOu0doKRSA3zwSAezttR/w1AceU4yqUZ0bKbGI...
1,2,Bob,bob@example.com,Engineering,AQICAHh3ZcDR7KW29w3WBXby4fktfVh0IQ0If41GjOu1gT...,AQICAHhEEOu0doKRSA3zwSAezttR/w1AceU4yqUZ0bKbGI...
2,3,Charlie,charlie@example.com,Marketing,AQICAHh3ZcDR7KW29w3WBXby4fktfVh0IQ0If41GjOu1gT...,AQICAHhEEOu0doKRSA3zwSAezttR/w1AceU4yqUZ0bKbGI...
3,4,David,david@example.com,Finance,AQICAHh3ZcDR7KW29w3WBXby4fktfVh0IQ0If41GjOu1gT...,AQICAHhEEOu0doKRSA3zwSAezttR/w1AceU4yqUZ0bKbGI...
4,5,Eva,eva@example.com,Engineering,AQICAHh3ZcDR7KW29w3WBXby4fktfVh0IQ0If41GjOu1gT...,AQICAHhEEOu0doKRSA3zwSAezttR/w1AceU4yqUZ0bKbGI...
5,6,Frank,frank@example.com,HR,AQICAHh3ZcDR7KW29w3WBXby4fktfVh0IQ0If41GjOu1gT...,AQICAHhEEOu0doKRSA3zwSAezttR/w1AceU4yqUZ0bKbGI...
6,7,Grace,grace@example.com,Sales,AQICAHh3ZcDR7KW29w3WBXby4fktfVh0IQ0If41GjOu1gT...,AQICAHhEEOu0doKRSA3zwSAezttR/w1AceU4yqUZ0bKbGI...
7,8,Hannah,hannah@example.com,Finance,AQICAHh3ZcDR7KW29w3WBXby4fktfVh0IQ0If41GjOu1gT...,AQICAHhEEOu0doKRSA3zwSAezttR/w1AceU4yqUZ0bKbGI...
8,9,Ian,ian@example.com,Marketing,AQICAHh3ZcDR7KW29w3WBXby4fktfVh0IQ0If41GjOu1gT...,AQICAHhEEOu0doKRSA3zwSAezttR/w1AceU4yqUZ0bKbGI...
9,10,Julia,julia@example.com,Sales,AQICAHh3ZcDR7KW29w3WBXby4fktfVh0IQ0If41GjOu1gT...,AQICAHhEEOu0doKRSA3zwSAezttR/w1AceU4yqUZ0bKbGI...