# Experiment 3 â€“ Simulate Data Acces Layer for read

In [6]:
from dotenv import load_dotenv
from constants import *
from utility_functions import *
from constants import *
from DataAccessLayerClient import DataAccessLayerClient

# Load environment variables
load_dotenv()

ModuleNotFoundError: No module named 'util'

In [3]:
# Setup for connection towards AWS KMS
encryption_config = pe.EncryptionConfiguration(
    footer_key="file-access-key",             
    column_keys={
        "salary-key": ["Salary"],     
        "password-key": ["Password"] 
    },
    plaintext_footer=False         
)
kms_conn_config = pe.KmsConnectionConfig(
    kms_instance_id=f"aws-kms-{REGION}",
    kms_instance_url=f"https://kms.{REGION}.amazonaws.com"
)

In [4]:
dal = DataAccessLayerClient(base_url="dal://rbac-sensitive/")

NameError: name 'DataAccessLayerClient' is not defined

## Raw data for the roles - all roles should see all data, as it is not encrypted

In [4]:
dal.get_data(token=TOKEN_ENGINEER, file_name = EMPLOYEE_DATA_RAW_KEY).head(3)

Authenticating user with token: ENGINEER_TOKEN
Assumed ENGINEER role successfully.

 successfully loaded 'employee_data_raw.parquet' from S3 bucket 's3-rbac-in-data-lakes-experiments'
File columns: ['ID', 'Name', 'Email', 'Department', 'Salary', 'Password']

   ID     Name                Email   Department  Salary        Password
0   1    Alice    alice@example.com           HR   55000  DummyPassword1
1   2      Bob      bob@example.com  Engineering   72000  DummyPassword2
2   3  Charlie  charlie@example.com    Marketing   63000  DummyPassword3

In [5]:
dal.get_data(token=TOKEN_HR, file_name = EMPLOYEE_DATA_RAW_KEY).head(3)

Authenticating user with token: HR_TOKEN
Assumed HR role successfully.

 successfully loaded 'employee_data_raw.parquet' from S3 bucket 's3-rbac-in-data-lakes-experiments'
File columns: ['ID', 'Name', 'Email', 'Department', 'Salary', 'Password']

   ID     Name                Email   Department  Salary        Password
0   1    Alice    alice@example.com           HR   55000  DummyPassword1
1   2      Bob      bob@example.com  Engineering   72000  DummyPassword2
2   3  Charlie  charlie@example.com    Marketing   63000  DummyPassword3

In [6]:
dal.get_data(token=TOKEN_ADMIN, file_name = EMPLOYEE_DATA_RAW_KEY).head(3)

Authenticating user with token: ADMIN_TOKEN
Assumed ADMIN role successfully.

 successfully loaded 'employee_data_raw.parquet' from S3 bucket 's3-rbac-in-data-lakes-experiments'
File columns: ['ID', 'Name', 'Email', 'Department', 'Salary', 'Password']

   ID     Name                Email   Department  Salary        Password
0   1    Alice    alice@example.com           HR   55000  DummyPassword1
1   2      Bob      bob@example.com  Engineering   72000  DummyPassword2
2   3  Charlie  charlie@example.com    Marketing   63000  DummyPassword3

## Encrypted data. All roles should see something different

In [7]:
dal.get_data(token=TOKEN_ENGINEER, file_name = EMPLOYEE_DATA_ENCRYPTED_KEY).head(3)

Authenticating user with token: ENGINEER_TOKEN
Assumed ENGINEER role successfully.

 successfully loaded 'employee_data_encrypted.parquet' from S3 bucket 's3-rbac-in-data-lakes-experiments'
File columns: ['ID', 'Name', 'Email', 'Department', 'Salary', 'Password']
Skipping column Salary due to decryption error: An error occurred (AccessDeniedException) when calling the Decrypt operation: User: arn:aws:sts::501994300007:assumed-role/ENGINEER/ENGINEER-notebook-session is not authorized to perform: kms:Decrypt on resource: arn:aws:kms:eu-north-1:501994300007:key/86c41c3f-fc21-4730-a20b-b755e5b63ebb because no identity-based policy allows the kms:Decrypt action
Skipping column Password due to decryption error: An error occurred (AccessDeniedException) when calling the Decrypt operation: User: arn:aws:sts::501994300007:assumed-role/ENGINEER/ENGINEER-notebook-session is not authorized to perform: kms:Decrypt on resource: arn:aws:kms:eu-north-1:501994300007:key/5722129f-2136-4ef4-8b53-5a242b553f34 because no identity-based policy allows the kms:Decrypt action

   ID     Name                Email   Department
0   1    Alice    alice@example.com           HR
1   2      Bob      bob@example.com  Engineering
2   3  Charlie  charlie@example.com    Marketing

In [8]:
dal.get_data(token=TOKEN_HR, file_name = EMPLOYEE_DATA_ENCRYPTED_KEY).head(3)

Authenticating user with token: HR_TOKEN
Assumed HR role successfully.

 successfully loaded 'employee_data_encrypted.parquet' from S3 bucket 's3-rbac-in-data-lakes-experiments'
File columns: ['ID', 'Name', 'Email', 'Department', 'Salary', 'Password']
Skipping column Password due to decryption error: An error occurred (AccessDeniedException) when calling the Decrypt operation: User: arn:aws:sts::501994300007:assumed-role/HR/HR-notebook-session is not authorized to perform: kms:Decrypt on resource: arn:aws:kms:eu-north-1:501994300007:key/5722129f-2136-4ef4-8b53-5a242b553f34 because no identity-based policy allows the kms:Decrypt action

   ID     Name                Email   Department  Salary
0   1    Alice    alice@example.com           HR   55000
1   2      Bob      bob@example.com  Engineering   72000
2   3  Charlie  charlie@example.com    Marketing   63000

In [9]:
dal.get_data(token=TOKEN_ADMIN, file_name = EMPLOYEE_DATA_ENCRYPTED_KEY).head(3)

Authenticating user with token: ADMIN_TOKEN
Assumed ADMIN role successfully.

 successfully loaded 'employee_data_encrypted.parquet' from S3 bucket 's3-rbac-in-data-lakes-experiments'
File columns: ['ID', 'Name', 'Email', 'Department', 'Salary', 'Password']

   ID     Name                Email   Department  Salary        Password
0   1    Alice    alice@example.com           HR   55000  DummyPassword1
1   2      Bob      bob@example.com  Engineering   72000  DummyPassword2
2   3  Charlie  charlie@example.com    Marketing   63000  DummyPassword3